* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

// Tipografía

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Skranji&display=swap');

$fuenteGeneral : 'Oswald', sans-serif;

// Variables buttons NavBar

$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
$color : #fff;

// Background Container

.divBackgroundContainer{
    font-family: $fuenteGeneral;
    position: relative;
    height: 2200px;
    width: 100%;

    .videoBackground{
    object-fit: cover;
    height: 2200px;
    width: 100%;
    }
}

.divContentContainer{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        z-index: 0;
}

// Header

    .divHeaderContainer{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        .imgHeader{
            width: 420px;
            height: 420px;
            border-radius: 50%;
        }
    
        .divH3H4Header{

            width: 420px; //Modificar este ancho en relacion al ancho de la imgHeader   

            .divAnimation{

                display: grid;
                place-items: center;

                .textoAnimation{
                    width: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    margin: 0 auto;
                    border-right: 3px solid #e5e9eb;
                    animation: typing 3.5s steps(38) 0.5s 1 normal both, blink 1s steps(1) infinite;
                }

                .textoAnimation2{
                    width: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    margin: 0 auto;
                    border-right: 3px solid #e5e9eb;
                    animation: typing 3.5s steps(38) 3.5s 1 normal both, blink 1s steps(1) infinite;
                }

                @keyframes typing {
                    from {
                        width: 0;
                    }
                    to {
                        width: 100%;
                    }
                    }
                    @keyframes blink {
                    50% {
                        border-color: transparent;
                    }
                }
            }

            #h3Header{
                font-size: 45px;
            }
            #h4Header{
                    font-size: 35px;
            }
        }

}

// NavBar

.divNavBar{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

.portfolio-experiment {
    background: transparent;
    
    a {
        color: white;
        font-family: $fuenteGeneral;
        padding: $pad $extra;
        display: inline-block;
        border: $thick solid transparent;
        position: relative;
        font-size: 1.5em;
        cursor: pointer;

        .text {
        transform: translate3d(0,$pad,0);
        display: block;
        transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
        }

        &:after {
        position: absolute;
        content: '';
        bottom: -$thick;
        left: $extra;
        right: $extra;
        height: $thick;
        background: $color;
        // z-index: -1;
        transition: 
            transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
            right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
            left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
        transform-origin: left;
        }

    }

    .line {
        position: absolute;
        background: $color;

        &.-right,
        &.-left {
        width: $thick;
        bottom: -$thick;
        top: -$thick;
        transform: scale3d(1,0,1);
        }  

        &.-top,
        &.-bottom {
        height: $thick;
        left: -$thick;
        right: -$thick;
        transform: scale3d(0,1,1);
        }

        &.-right {
        right: -$thick;
        transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
        transform-origin: top;
        }

        &.-top {
        top: -$thick;
        transition: transform 0.08s linear 0.43s;
        transform-origin: left;
        }

        &.-left {
        left: -$thick;
        transition: transform 0.08s linear 0.51s;
        transform-origin: bottom;
        }

        &.-bottom {
        bottom: -$thick;
        transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
        transform-origin: right;
        }  
    }

    a:hover,
    a:active {

        .text {
        transform: translate3d(0,0,0);
        transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
        }

        &:after {
        transform: scale3d(0,1,1);
        right: -$thick;
        left: -$thick;
        transform-origin: right;
        transition: 
            transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
            right 0.2s cubic-bezier(1,0,.65,1.01),
            left 0s 0.3s;
        }

        .line {
        transform: scale3d(1,1,1);

        &.-right {
            transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
            transform-origin: bottom;
        }

        &.-top {
            transition: transform 0.08s linear 0.4s;
            transform-origin: right;
        }

        &.-left {
            transition: transform 0.08s linear 0.48s;
            transform-origin: top;
        }

        &.-bottom {
            transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
            transform-origin: left;
        }
        }

    }
}

// About Me

.divAboutMeContainer{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-color: #fff;
    border-width: 0px 0px 3px 3px;
    border-style: solid;


    h4{
        font-size: 30px;
    }
    p{
        font-size: 22px;
        padding: 30px;
    }
}

// Skills

.divSkillsContainer{
    margin-top: 100px;

    h4{
        font-size: 30px;
    }

    .listaSkills{
        padding-top: 80px;
        display: flex;
        justify-content: space-evenly;
    }
}


.react{
    width: 80px;
    height: 80px;

    animation-name: react;
    animation-duration: 4s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes react {
    0% {left: 0px;top: 0px;}
    25% {left: 0px;top: 25px;}
    50% {left: 0px;top: 50px;}
    75% {left: 0px;top: 25px;}
    100% {left: 0px;top: 0px;}
}

.js{
    width: 80px;
    height: 80px;

    animation-name: js;
    animation-duration: 4s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes js {
    0% {left: 0px;bottom: 0px;}
    25% {left: 0px;bottom: 25px;}
    50% {left: 0px;bottom: 50px;}
    75% {left: 0px;bottom: 25px;}
    100% {left: 0px;bottom: 0px;}
}

.html{
    width: 80px;
    height: 80px;

    animation-name: html;
    animation-duration: 4s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes html {
    0% {left: 0px;top: 0px;}
    25% {left: 0px;top: 25px;}
    50% {left: 0px;top: 50px;}
    75% {left: 0px;top: 25px;}
    100% {left: 0px;top: 0px;}
}

.css{
    width: 80px;
    height: 80px;

    animation-name: css;
    animation-duration: 4s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes css {
    0% {left: 0px;bottom: 0px;}
    25% {left: 0px;bottom: 25px;}
    50% {left: 0px;bottom: 50px;}
    75% {left: 0px;bottom: 25px;}
    100% {left: 0px;bottom: 0px;}
}

.boostrap{
    width: 80px;
    height: 80px;

    animation-name: boostrap;
    animation-duration: 4s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes boostrap {
    0% {left: 0px;top: 0px;}
    25% {left: 0px;top: 25px;}
    50% {left: 0px;top: 50px;}
    75% {left: 0px;top: 25px;}
    100% {left: 0px;top: 0px;}
}


.github{
    height: 80px;
    width: 80px;

    animation-name: github;
    animation-duration: 4s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes github {
    0% {left: 0px;bottom: 0px;}
    25% {left: 0px;bottom: 25px;}
    50% {left: 0px;bottom: 50px;}
    75% {left: 0px;bottom: 25px;}
    100% {left: 0px;bottom: 0px;}
}


.firebase{
    height: 80px;
    width: 80px;

    animation-name: firebase;
    animation-duration: 4s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes firebase {
    0% {left: 0px;top: 0px;}
    25% {left: 0px;top: 25px;}
    50% {left: 0px;top: 50px;}
    75% {left: 0px;top: 25px;}
    100% {left: 0px;top: 0px;}
}

.sass{
    height: 80px;
    width: 80px;

    animation-name: sass;
    animation-duration: 4s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes sass {
    0% {left: 0px;top: 0px;}
    25% {left: 0px;top: 25px;}
    50% {left: 0px;top: 50px;}
    75% {left: 0px;top: 25px;}
    100% {left: 0px;top: 0px;}
}


.babel{
    height: 80px;
    width: 80px;

    animation-name: babel;
    animation-duration: 4s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes babel {
    0% {left: 0px;bottom: 0px;}
    25% {left: 0px;bottom: 25px;}
    50% {left: 0px;bottom: 50px;}
    75% {left: 0px;bottom: 25px;}
    100% {left: 0px;bottom: 0px;}
}

.git{
    height: 80px;
    width: 80px;

    animation-name: git;
    animation-duration: 4s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes git {
    0% {left: 0px;top: 0px;}
    25% {left: 0px;top: 25px;}
    50% {left: 0px;top: 50px;}
    75% {left: 0px;top: 25px;}
    100% {left: 0px;top: 0px;}
}

.responsive{
    height: 80px;
    width: 80px;

    animation-name: responsive;
    animation-duration: 4s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes responsive {
    0% {left: 0px;bottom: 0px;}
    25% {left: 0px;bottom: 25px;}
    50% {left: 0px;bottom: 50px;}
    75% {left: 0px;bottom: 25px;}
    100% {left: 0px;bottom: 0px;}
}

// Projects

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Skranji&display=swap');

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    }

    html, body {
    height: 100%;
    }

    .divProjectContainer {
    padding-top: 150px;
    height: 100%;
    display: grid;
    place-items: center;
    font-family: 'Oswald', sans-serif;

    h4{
        padding-bottom: 30px;
        font-size: 30px;
    }
    }

    .page-content {
    border-color: #fff;
    border-width: 3px 3px 0px 0px;
    border-style: solid;
    display: grid;
    grid-gap: 2rem;
    padding: 30px;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
    }
    @media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
    }
    @media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
    }

    .card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    }
    @media (min-width: 600px) {
    .card {
        height: 350px;
    }
    }
    .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
    }
    .card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
    }
    .card:nth-child(1):before {
    background-image: url('../assets/ImgProject/projectPerfumes.jpg');
    }
    .card:nth-child(2):before {
    background-image: url('../assets/ImgProject/projectCrud.jpg');
    }
    .card:nth-child(3):before {
    background-image: url('../assets/ImgProject/projectHawaian.jpg');
    }
    .card:nth-child(4):before {
    background-image: url('../assets/ImgProject/projectPelis.jpg');
    }

    .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
    }
    .content > * + * {
    margin-top: 1rem;
    }

    .title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
    }

    .copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
    }

    .btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    }
    .btn:hover {
    background-color: #0d0d0d;
    }
    .btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
    }

    @media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;
    }
    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }
    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }
    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }
    .card:hover .content > *:not(.title),
    .card:focus-within .content > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before, .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content > *:not(.title) {
        transition-duration: 0s;
    }
}

// Contacto 

.divContactoContainer{
    
    padding-top: 50px;

    h4{
        font-size: 30px;
    }

    .ulContacto{
        text-align: center;
        display: flex;
        justify-content: center;
        padding-top: 20px;

        .liContacto{
            margin: 20px;
            list-style: none;
            font-size: 30px;
            cursor: pointer;
        }
    }
}

.buttonWpp{
    i{
        font-size: 30px;
    }
}