* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

// Tipografía

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Skranji&display=swap');

$fuenteGeneral : 'Oswald', sans-serif;

// Variables buttons NavBar

$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
$color : #fff;

// Background Container

.divBackgroundContainer{
    font-family: $fuenteGeneral;
    position: relative;
    height: 100%;
    width: 100%;

    .videoBackground{
    object-fit: cover;
    width: 100%;
    height: 100%;
    }
}

.divContentContainer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        z-index: 0;
}

// Header

    .divHeaderContainer{
    
        display: flex;
        flex-direction: row;
        align-items: center;
    
        .imgHeader{
            width: 420px;
            height: 420px;
            border-radius: 50%;
        }
    
        .divH3H4Header{

            width: 420px; //Modificar este ancho en relacion al ancho de la imgHeader   

            .divAnimation{

                display: grid;
                place-items: center;

                .textoAnimation{
                    width: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    margin: 0 auto;
                    border-right: 3px solid #e5e9eb;
                    animation: typing 3.5s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
                }

                .textoAnimation2{
                    width: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    margin: 0 auto;
                    border-right: 3px solid #e5e9eb;
                    animation: typing 3.5s steps(38) 4s 1 normal both, blink 1s steps(1) infinite;
                }

                @keyframes typing {
                    from {
                        width: 0;
                    }
                    to {
                        width: 100%;
                    }
                    }
                    @keyframes blink {
                    50% {
                        border-color: transparent;
                    }
                }
            }

            #h3Header{
                font-size: 40px;
            }
            #h4Header{
                    font-size: 30px;
            }
        }

}

// NavBar

.divNavBar{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.portfolio-experiment {
    background: transparent;
    
    a {
        color: white;
        padding: $pad $extra;
        display: inline-block;
        border: $thick solid transparent;
        position: relative;
        font-size: 1.5em;
        cursor: pointer;
        letter-spacing: 0.07em;

        .text {
        transform: translate3d(0,$pad,0);
        display: block;
        transition: transform 0.4s cubic-bezier(.2,0,0,1) 0.4s;
        }

        &:after {
        position: absolute;
        content: '';
        bottom: -$thick;
        left: $extra;
        right: $extra;
        height: $thick;
        background: $color;
        // z-index: -1;
        transition: 
            transform 0.8s cubic-bezier(1,0,.37,1) 0.2s,
            right 0.2s cubic-bezier(.04,.48,0,1) 0.6s,
            left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
        transform-origin: left;
        }

    }

    .line {
        position: absolute;
        background: $color;

        &.-right,
        &.-left {
        width: $thick;
        bottom: -$thick;
        top: -$thick;
        transform: scale3d(1,0,1);
        }  

        &.-top,
        &.-bottom {
        height: $thick;
        left: -$thick;
        right: -$thick;
        transform: scale3d(0,1,1);
        }

        &.-right {
        right: -$thick;
        transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
        transform-origin: top;
        }

        &.-top {
        top: -$thick;
        transition: transform 0.08s linear 0.43s;
        transform-origin: left;
        }

        &.-left {
        left: -$thick;
        transition: transform 0.08s linear 0.51s;
        transform-origin: bottom;
        }

        &.-bottom {
        bottom: -$thick;
        transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
        transform-origin: right;
        }  
    }

    a:hover,
    a:active {

        .text {
        transform: translate3d(0,0,0);
        transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
        }

        &:after {
        transform: scale3d(0,1,1);
        right: -$thick;
        left: -$thick;
        transform-origin: right;
        transition: 
            transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
            right 0.2s cubic-bezier(1,0,.65,1.01),
            left 0s 0.3s;
        }

        .line {
        transform: scale3d(1,1,1);

        &.-right {
            transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
            transform-origin: bottom;
        }

        &.-top {
            transition: transform 0.08s linear 0.4s;
            transform-origin: right;
        }

        &.-left {
            transition: transform 0.08s linear 0.48s;
            transform-origin: top;
        }

        &.-bottom {
            transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
            transform-origin: left;
        }
        }

    }
}

// About Me






